<%- contentFor('Documentation : Header') %>
<!-- 
  This is the homepage
 -->
<%- contentFor("headCode") %>
<title><%= title %></title>
<link rel="stylesheet" href="/css/chat.css" />
<script defer type="module" src="/js/chat.js"></script>

<%- contentFor("body") %>
<div class="container_">
    <div class="messages"></div>
    <form class="form messageBox" action="/dm">
        <input type="text" class="message" placeholder="Message..." name="message">
    </form>
</div>

<input type="text" name="target" class="chatTarget" value="<%= chatTarget %>" hidden/>